* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fef6e4;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #001858;
}

p {
  color: #172c66;
  font-size: 18px;
}
